SERVER_PORT=8080
POSTGRES_DSN=postgres://postgres:postgres@localhost:5432/meeting_service?sslmode=disable
JWT_SECRET=tut-mogla-bit-vasha-reklama

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=meeting_service
